{% extends "base.html" %}
{% block content %}
<form method="post">
  {% csrf_token %}
  <div class="min-h-screen md:px-20 pt-6">
    <div class=" bg-white rounded-md px-6 py-10 max-w-2xl mx-auto">
      <h1 class="text-center text-2xl font-bold text-gray-500 mb-10">
        {% if form.instance.id %}
        Update Todo
        {% else %}
        Create Todo
        {% endif %}
      </h1>
      {{ filter.form.as_p }}
      {% for obj in filter.qs %}
      {{ obj }}<br />
      {% endfor %}
      <div class="space-y-4">
        <div>
          <label for="id_title" class="text-lx font-serif">Title:</label>
          <input type="text" placeholder="Title" name="title" id="id_title" maxlength="100"
            value="{% if form.instance.id %} {{ form.title.value }} {% endif %}"
            class="ml-2 outline-none py-1 px-2 text-md border-2 rounded-md" />
        </div>
        <div>
          <label for="id_description" class="block mb-2 text-lg font-serif">Description:</label>
          <textarea id="id_description" cols="40" rows="10" name="description" placeholder="Write here.."
            class="w-full font-serif  p-4 text-gray-600 bg-gray-200 outline-none rounded-md">{% if form.instance.id %} {{ form.description.value }} {% endif %}</textarea>
        </div>
        <div>
          <label for="id_priority" class="text-lx font-serif">Priority:</label>
          <input type="text" placeholder="Priority" id="id_priority"
            value="{% if form.instance.id %} {{ form.priority.value }} {% endif %}"
            class="ml-2 outline-none py-1 px-2 text-md border-2 rounded-md" name="priority" />
        </div>
        <div class="relative inline-flex">
          <label for="id_status" class="text-lx font-serif">Status:</label>
          <svg class="w-2 h-2 absolute top-0 right-0 m-4 pointer-events-none" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 412 232">
            <path
              d="M206 171.144L42.678 7.822c-9.763-9.763-25.592-9.763-35.355 0-9.763 9.764-9.763 25.592 0 35.355l181 181c4.88 4.882 11.279 7.323 17.677 7.323s12.796-2.441 17.678-7.322l181-181c9.763-9.764 9.763-25.592 0-35.355-9.763-9.763-25.592-9.763-35.355 0L206 171.144z"
              fill="#648299" fill-rule="nonzero" />
          </svg>
          {{ form.status }}
        </div>
        <div>
          <label for="id_completed" class="text-lx font-serif">Completed:</label>
          <input type="checkbox" id="id_completed" name="completed"
            class="ml-2 outline-none py-1 px-2 text-md border-2 rounded-md " />
        </div>
        <button type="submit"
          class="w-96 mb-10 px-6 py-2 mx-auto block rounded-md text-lg font-semibold text-indigo-100 bg-red-500">Save</button>
      </div>
    </div>
  </div>
</form>
{% endblock content %}